body {
    background-color: #4197c9;
    color: #fff;
    overflow: hidden;
    /* 스크롤 방지 */
}

/* 마우스 따라다니는 녀석*/
.cursorItem {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    /* 아래는 border 등 외부요인이랑 겹치는 경우 어떻게 표현할지 나타내는 것 */
    /* multiply를 사용하지 않으면 원이 글자 위에서 글자를 가린다..!*/
    /* 이 경우 섞어서 나타낸다는 것이고 탁함의 정도는 .5 */
    mix-blend-mode: multiply;
    opacity: 0.5;
}

/* 마우스 크기 커졌다 작아졌다 하는 녀석 */
.cursorItem .circle {
    position: fixed;
    display: block;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    background-color: #a300a8;
    border-radius: 50%;
    /* 스크립트로 움직임 먹이기 위해 class 두개 생성한거임 */
    transition: all .2s ease-in-out;
}

.gate-box {
    position: absolute;
    top: 40%;
    left: calc(50% - 200px);
    width: 400px;
}

.gate-box .top {
    border: 2px solid #fff;
    border-bottom: none;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.gate-box .bottom {
    border: 2px solid #fff;
}

.gate-box .bottom .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.gate-box .bottom a {
    font-size: 20px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 20px 0;
    transition: all .3s ease;
    box-sizing: inherit;
}

.gate-box .bottom .inner a:hover {
    color: #4197c9;
    background-color: #fff;
}

.gate-box .bottom #yes {
    border-right: 2px #fff solid;
}